<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>
<h1>Teacher Database</h1>
<div class="main_content_container">
  
    <table>
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email Address</th>
            <th>Password</th>
            <th></th>
            <th></th>
        </tr>
        <%teacherList.forEach(teachers => {%>
        <tr>
            <td><%= teachers.firstName %> <%= teachers.lastName %></th>
            <td><%= teachers.username %></td>
            <td><%= teachers.email %></td>
            <td><%= teachers.password %></td>
            <td><a href="/view_teachers/edit/<%= teachers.id %>"><button class="edit_button_design"> Edit</button></a></td>
            <td><form action="/view_teachers/<%= teachers.id %>/delete" method="post"><button class="delete_button_design"> Delete</button></form></td>
        </tr>
        <%})%>
    </table>

</div>
<%-include('./partials/admin_footer') -%>