<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="/css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>


<div class="content_nav_container">
    <h1>Inquiries</h1>
    <a href="/inquiries_archive"><button class="yellow_button_design"> Archived Inquiries</button></a>
</div>

<div class="main_content_container">
    <table>
        <tr>
            <th>Name of Inquirer</th>
            <th>Date Created</th>
            <th>Program</th>
            <th>Contact Number</th>
            <th>Child Name</th>
            <th> </th>
        </tr>
            <%inquiryList.forEach(inquiries => {%>
        <tr>
            <td><%= inquiries.name %></th>
            <td><%= inquiries.inquiryDate.toDateString() %></td>
            <td><%= inquiries.program %></td>
            <td><%= inquiries.phoneNumber %></td>
            <td><%= inquiries.childName %></td>
            <td><a href="/view_inquiry?id=<%= inquiries.id %>"><button>Advanced View</button></a></td>
        </tr>
            <%})%>
    </table>
</div>

<%-include('./partials/admin_footer') -%>