<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_createAccount_style.css">

<%-include('./partials/admin_sidebar')-%>
<div class ="main_content_container">

    <h1 class="page_title">Edit Account</h1>
    <form action="/view_teachers/edit/<%= teacher.id %>/success" method="post" id="submit_form">

        <div class="input_container"> 
            <label for="email_address">Email Address</label><br>
            <input type="email" name="email_address" id="email_address" value = "<%= teacher.email %>" disabled>
        </div>
        
        <div class = "input_container same_row">

            <div class = "input_inner_container">

                <label for="fName">First Name</label><br>
                <input type="text" name="fName" id="fName" value = "<%= teacher.firstName %>">
            </div>

            <div class = "input_inner_container">
                <label for="lName">Last Name</label><br>
                <input type="text" name="lName" id="lName" value = "<%= teacher.lastName %>" required>
            </div>

        </div>

        
        <div class = "input_container">
            <label for="username" >Username</label><br>
            <input type="text" name="username" id="username" value = "<%= teacher.username %>" required>
        </div>
         
        <div class="input_container same_row">
            <div class="input_inner_container"> 
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" required>
            </div>
        </div>
    </form>

    <div class="button_container"> 
        <div> 
            <a href="/view_teachers">
                <button class="abort_button_design">Cancel</button>
            </a>
        </div>
        
        <div>
            <button type="submit" class="yellow_button_design" form="submit_form">Save</button>
        </div>
    </div>
<%-include('./partials/admin_footer') -%>