<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_enroll_advanced_style.css">
<%-include('./partials/admin_sidebar')-%>

<div class="main_content_container">
    <h3>Class Information</h3>
    <br>
    <div class = "class_information_container">
         
        <div class="row_container">
            <div>
                <span class="label_title">Class Name</span> 
                <span><%= className %></span>
            </div>
            <div>
                <span class="label_title">Teacher</span> 
                <span><%= teacherAssigned %></span>
            </div>
            <div>
                <span class="label_title">Section</span>
                <span><%= section %></span>
            </div>
            <div>
                <span class="label_title">Program</span> 
                <span><%= program %></span>
            </div>
        </div>
        <div class="row_container">
            <div>
                <span class="label_title">Available Slots</span>
                <span id = 'enrollmentCap'><%= availableSlots %></span>
            </div>
            <div>
                <span class="label_title">Start Time</span>
                <span><%= startTime %></span>
            </div>
            <div>
                <span class="label_title">End Time</span>
                <span><%= endTime %></span>
            </div>
        </div>
    </div>
    <hr>
    <h3>Student List</h3>
    <br>
    <div class="table_container"> 
        <table>
            <tr> 
                <th>Student Name</th>
                <th>Email Address</th>
                <th></th>
            </tr>
            <%studentList.forEach(student => {%>
            <tr>
                <td><%= student.firstName %> <%= student.lastName %></td>
                <td><%= student.username %></td>
                <td><form action="/enrollment/class/<%= classId %>/drop/<%= student.id %>" method="post"> <button class="abort_button_design">Drop Student</button></form></td>
            </tr>
            <%})%>
            
        </table>
    </div>
    <br>
    <div class="add_button_container"><a href="/enrollment/class/<%= classId %>/students"><button class ="yellow_button_design" id = "AddButton">+ Enroll A Student</button></a></div>
 
</div>
<div class="cancel_button_container">
    <a href="/enrollment"><button class="abort_button_design">Back</button></a>
</div>


<script src="./js_files/enrollment_cap_listener.js"></script>
<%-include('./partials/admin_footer') -%>