<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_createAnouncement_style.css">
<%-include('./partials/admin_sidebar')-%>

<h2>Edit Announcement</h2>
<div class="main_content_container">
    <form action="/edit_announcement/<%= announcement._id %>" method="post" id = "create_announcement">
        <label for="title">Title</label> 
        <input type="text" name="title" id="title" class="text_holder" value="<%= announcement.announcementTitle %>">
        <br>
        <div class="center_container"> 
             <textarea name="announcementText" id="announcementText" cols="30" rows="10"><%= announcement.announcementText %></textarea>
         </div>
    </form>
</div>
<div class="button_container">
    <div>
        <a href="/announcements"><button class="abort_button_design">Cancel</button></a>
    </div>
    <div>
        <button class = "yellow_button_design" form="create_announcement">Save</button>
    </div> 
 
</div>
<%-include('./partials/admin_footer') -%>