<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_addClasses_style.css">
<%-include('./partials/admin_sidebar')-%>

<h3>Add Class</h3>

<div class="main_content_container">

    <form action="/add_classes" id="submit_form" method="post">

        <div class="form_item"> 
            <label for="className">Class Name</label><br>
            <input type="text" name="className" id="className" required>
         </div>
        

         <div class="form_item"> 
            <label for="section">Section</label>
            <select name="section" id="section" required>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
        </div>

        <div class="form_item"> 
            <label for="teacherAssigned">Teacher Assigned</label>
            <select name="teacherAssigned" id="teacherAssigned" required>
                <% teachers.forEach(teacher => { %>
                    <option value="<%= teacher.name %>"><%= teacher.name %></option>
                <% }) %>
            </select>
        </div>  
        
        <div class="form_item"> 
            <label for="class_slot">Available Slots</label>
            <input type="number" name="class_slot" id="class_slot" min="0" required>
        </div>

        <div class ="form_item">
            <label for="Start Time">Start Time</label>
            <input type="time" name="start_time" id="start_time" required>
            <label for="end_time">End Time</label>
            <input type="time" name="end_time" id="end_time" required>
        </div>

        <div class = "form_item">
            <label for="program">Program</label>
            <input type="radio" name="program" id="Tutorial" value="Tutorial" required>
            <label for="Playdate">Tutorial</label>
            <input type="radio" name="program" id="Playdate" value="Playdate" required>
            <label for="Playdate">Playdate</label>
         </div>
    </form>

    <div class="button_container"> 
        <div>
              <a href="/classes"><button class="abort_button_design">Cancel</button></a>
        </div>
        <div>
            <button type="submit" form="submit_form" class="yellow_button_design">Create Class</button>
        </div>

    </div>
</div>


<%-include('./partials/admin_footer') -%>