<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>

<div class="content_nav_container">
    <h1>Class Schedule</h1>
    <a href="/add_classes"><button class="yellow_button_design"> + Add Class</button></a>
</div>

<div class="main_content_container">
    <table>
        <tr>
            <th>Class</th>
            <th>Program</th>
            <th>Section</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Teacher Assigned</th>
            <th></th>
        </tr>
            <%classList.forEach(classes => {%>
        <tr>
            <td><%= classes.className %></th>
            <td><%= classes.program %></td>
            <td><%= classes.section %></td>
            <td><%= classes.startTime %></td>
            <td><%= classes.endTime %></td>
            <td><%= classes.teacherAssigned %></td>
            <td><a href="/classes/edit?id=<%= classes.id %>"><button>Edit Information</button></a></td>
        </tr>
            <%})%>
    </table>
</div>

<%-include('./partials/admin_footer') -%>