<%-include('./partials/admin_header')-%>

<link rel="stylesheet" href="./css_files/admin_dashboard_style.css">
 <%-include('./partials/admin_sidebar')-%>

<div class="parent_container">
    <h3>Dashboard</h3>
    
    <div class="row_container">
        <div class="row_item bigger_flex col_container">
            
            <div class="row_container flex_col_gap">
                <div class="row_item box_item">
                    <h3>Total Enrolled</h3>
                    <h2><%= enrollmentInfo.totalEnrolled %></h2>
                </div>
                <div class="row_item box_item">
                    <h3>Playdate</h3>
                    <h2><%= enrollmentInfo.playDateEnrolled %></h2> 
                </div>
                <div class="row_item box_item">
                    <h3>Tutoring</h3>
                    <h2><%= enrollmentInfo.tutorEnrolled %></h2>
                </div>
            </div>

           <div><div id = "graph_container"></div> </div>
            
        </div>

        <div class="row_item right_content_container col_container">
            
            <div class="inquiry_container">
                <div class="row_container">
                    <h5 class="mini_section_title row_item">Inquiries</h5>
                    <a href="/inquiries" class="view_all_link"><span class="row_item view_all_tag">View All</span></a>
                </div>

                <div class="col_container col_align_item_middle notification_container">
                    <% if (userInquiries.length == 0) { %>
                        <div class="align_center_row"> No new notifcation.</div>

                    <% }else { %>

                        <% for( let i = userInquiries.length-1; i >= 0; i--) { %>
                            <a href="/view_inquiry?id=<%= userInquiries[i].id %>" class="notification_item">

                                    <div>From: <%= userInquiries[i].name %></div>
                                    <div>Date Created: <%= userInquiries[i].inquiryDate.toString().substring(4,15) %></div>
                                    <div>Time Created: <%= userInquiries[i].inquiryDate.toString().substring(16,25) %></div>

                            </a>
                        <% } %>

                    <% } %>
                </div>
            </div>

            <div class="announcements_container">
                <div class="row_container">
                    <h5 class="mini_section_title row_item">Announcements</h5>
                    <a href="/announcements" class="view_all_link"><span class="row_item view_all_tag">View All</span></a>
                </div>
                <div class="col_container col_align_item_middle notification_container">
                    <% if (userAnnouncements.length == 0) { %>
                        <div class="align_center_row"> No new notifcation.</div>

                    <% }else { %>

                        <% for( let i = userAnnouncements.length-1; i >= 0; i--) { %>
                            <a href="/announcements/<%= userAnnouncements[i]._id %>" class="notification_item">
                                <div>Title: <%= userAnnouncements[i].announcementTitle %></div>
                                <div>Date Created: <%= userAnnouncements[i].dateCreated.toString().substring(4,15) %></div>
                                <div>Time Created: <%= userAnnouncements[i].dateCreated.toString().substring(16,25) %></div>
                             </a>

                        <% } %>

                    <% } %>
                </div>
             </div>

        </div>

    </div>

   
</div>

<script src="./js_files/admin_dashboard_plot.js"></script>
<%-include('./partials/admin_footer') -%>