<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_addClasses_style.css">
<%-include('./partials/admin_sidebar')-%>


<h2>Edit Class</h2>
<div class="main_content_container">

    <form action="/classes/edit/<%= id %>" id="submit_form" method="post">

        <div class="form_item"> 
            <label for="className">Class Name</label><br>
            <!-- Display Class Name -->
            <input type="text" name="className" id="className" value="<%= className %>" disabled> 
         </div>
        

         <div class="form_item"> 
            <label for="section">Section</label>
            <select name="section" id="section" required>
                <%if(section === "AM"){%>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                <%}%>

                <%if(section === "PM"){%>
                    <option value="PM">PM</option>
                    <option value="AM">AM</option>
                <%}%>
            </select>
        </div>

        <div class="form_item"> 
            <label for="teacherAssigned">Teacher Assigned</label>
            <select name="teacherAssigned" id="teacherAssigned" required>
                <% teacherList.forEach(teacher => { %>
                    <option value="<%= teacher.firstName %> <%= teacher.lastName%> "><%= teacher.firstName %> <%= teacher.lastName%> </option>
                <% }) %>
            </select>
        </div>  
        
        <div class="form_item"> 
            <label for="class_slot">Available Slots</label>
            <input type="number" name="class_slot" id="class_slot" min="1" value="<%= availableSlots %>" required>
        </div>

        <div class ="form_item">
            <label for="Start Time">Start Time</label>
            <input type="time" name="start_time" id="start_time" value="<%= startTime %>" required>
            <label for="end_time">End Time</label>
            <input type="time" name="end_time" id="end_time" value="<%= endTime %>"  required>
        </div>

        <div class = "form_item">
            <label for="program">Program</label>
            <%if(program === "Tutorial"){%>
                <input type="radio" name="program" id="Tutorial" value="Tutorial" checked required>
                <label for="Playdate">Tutorial</label>
                <input type="radio" name="program" id="Playdate" value="Playdate" required>
                <label for="Playdate">Playdate</label>
            <%}%>
            
            <%if(program === "Playdate"){%>
                <input type="radio" name="program" id="Tutorial" value="Tutorial" required>
                <label for="Playdate">Tutorial</label>
                <input type="radio" name="program" id="Playdate" value="Playdate" checked required>
                <label for="Playdate">Playdate</label>
            <%}%>
         </div>
    </form>

    <div class="button_container"> 
        <div>
              <a href="/classes"><button class="abort_button_design">Cancel</button></a>
        </div>
        <div>
            <button type="submit" form="submit_form" class="yellow_button_design">Update Class</button>
        </div>

    </div>
</div>

<%-include('./partials/admin_footer')-%>
