<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="/css_files/admin_tableview_style.css">
<link rel="stylesheet" href="/css_files/admin_enrollment_enrolledstudents_style.css">
<%-include('./partials/admin_sidebar')-%>
<h1>Students Enrolled</h1>
<div class="main_content_container">
    <table>
        <tr>
            <th>Student Name</th>
            <th>Email Address</th>
            <th></th>
        </tr>
        <%studentList.forEach(student => {%>
        <tr>
            <td><%= student.firstName %> <%= student.lastName %></td>
            <td><%= student.email %></td>
            <td><form action="/enrollment/class/<%= returnLink %>/students/<%= student.id %>" method="post"><button class="yellow_button_design">Add</button></form></td>
        </tr>
        <%})%>
    </table>
</div> 

<div class="button_container">
    <a href="/enrollment/class/?id=<%= returnLink %>"><button class="abort_button_design">Cancel</button></a>
</div>
 

<%-include('./partials/admin_footer') -%>