<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="/css_files/admin_inquiryview_style.css">
<%-include('./partials/admin_sidebar')-%>



    <div class="main_content_container ">
        <div class="personal_details_container">
            <div class="row_container">
                <div class = "col_container">
                    <div class="row_container">
                        <p class="info_title">Name of Inquirer</p>
                        <p><%=name%></p>
                    </div>
                    <div class="row_container">
                        <p class="info_title">Phone Number</p>
                        <p><%=phoneNumber%></p>
                    </div>
                    <div class="row_container">
                        <p class="info_title">Email Address</p>
                        <p><%=email%></p>
                    </div>
                    <div class="row_container">
                        <p class = "info_title">Facebook Link</p>
                        <p><%=fblink%></p>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <div class = "col_container">
                    <div class="row_container">
                        <p class="info_title">Name of Child</p>
                        <p><%=childName%></p>
                    </div>
                    <div class="row_container">
                        <p class="info_title">Birthdate</p>
                        <p><%=birthDate.toDateString().slice(4,15)%></p>
                    </div>
                    <div class="row_container">
                        <p class="info_title">Gender</p>
                        <p><%=gender%></p>
                    </div>
                    <div class="row_container">
                        <p class = "info_title">Program</p>
                        <p><%=program%></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text_container"> 
            <textarea name="user_inquiry" id="user_inquiry" cols="30" rows="10" disabled><%=inquiry%> </textarea>
        </div>

        <div class="button_container">
                <div class="button">
                    <a href="/inquiries_archive"><button class="abort_button_design">Back</button></a>
                </div>
            </div>
        </div>
    </div>
         
 

<%-include('./partials/admin_footer') -%>