<%- include('./partials/student_header') %>
<link rel="stylesheet" href="./css_files/student_enrollment_style.css">
<%- include('./partials/student_sidebar') %>

<h2>Enrollment</h2>
<form action="/student_enrollment" id = "enrollment_form" method="post"> 
    <div class="col_container align_middle_row_dir">

        <div class="col_item section_container align_middle_col_dir">
        <h3>Student Information</h3>
        <div class="row_container">
            <div class="row_item col_container">
                <div class="label_container"><label for="fullName">Last Name, First Name</label></div>
                <div class="output_container"><input type="text" name="fullName" id="fullName" value="<%= lastName %>, <%= firstName %>" disabled></div>
            </div>


            <div class="align_middle_col_dir row_item col_container">
                <div class="label_container"><label for="nickname" >Nickname<span class="required_field"> *</span></label></div>
                <% if (studentInfo.nickName.length == 0 || studentInfo.nickName == null) { %>
                    <div class="output_container"><input type="text" name="nickname" id="nickname" required></div>
                <% } else {%>
                    <div class="output_container"><input type="text" name="nickname" id="nickname" readonly value="<%= studentInfo.nickName %>"></div>
                <% }%>
                 
            </div>

        </div>

            <div class="row_container">
                <div class="row_item row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="birthday">Birthday<span class="required_field"> *</span></label></div>
                        <% if (studentInfo.birthDate == null) { %>
                            <div class="calendar_input_container"><input type="date" name="birthdate" id="Birthdate" required></div>
                        <% } else {%>
                            <div class="calendar_input_container"><input type="date" name="birthdate" id="Birthdate" value = "<%= birthDate %>" readonly></div>
                        <% } %>
                    </div>
                    <div class="row_item col_container">
                        <div class="label_container bigger_flex"><label for="Age">Age</label></div>
                            <% if (studentInfo.age == null) { %>
                                <div class="output_container age_container"><input  type="number" name="Age" id="age" min="1" max="100" required></div>
                            <% } else {%>
                                <div class="output_container age_container"><input  type="number" name="Age" id="age" min="1" max="100" value = "<%= studentInfo.age %>" readonly></div>

                            <% } %>

                    </div>
                </div>
                <div class="row_item">
                    <div class = "row_item row_container">
                        <div class="row_item col_container">
                            <div class="col_item label_container"><label for="gender">Gender</label></div>
                            <% if (studentInfo.gender == null || studentInfo.gender.length == 0) { %>
                                <div class="output_container"> <select name="gender" id="gender" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                </div>
                            <% } else{%>
                                <div class="output_container">
                                    <input type="text" name="gender" id=" gender" readonly value="<%= studentInfo.gender %>"> 
                                </div>
                            <% } %>
                        </div>
                        <div class="row_item col_container">
                            <div class="label_container"><label for="contact_info">Contact Information<span class="required_field"> *</span></label></div>
                            <% if (studentInfo.phoneNumber == null) { %>
                                <div class="output_container bigger_flex"><input type="text" name="contact_info" id="contact_info" required></div>
                            <% } else {%>
                                <div class="output_container bigger_flex"><input type="text" name="contact_info" id="contact_info" value="<%= studentInfo.phoneNumber %>" readonly></div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="address">Address<span class="required_field"> *</span></label></div>

                    <% if (studentInfo.address == null) { %>
                        <div class="output_container"><input type="text" name="address" id="address"></div>
                    <% } else {%>
                        <div class="output_container"><input type="text" name="address" id="address" value="<%= studentInfo.address %>" readonly></div>
                    <% } %>
                </div>

                <div class="row_item col_container">
                    <div class="label_container"><label for="nationality">Nationality<span class="required_field"> *</span></label></div>
                    <% if (studentInfo.nationality == null) { %>
                        <div class="output_container"><input type="text" name="nationality" id="nationality" required></div>

                    <% } else {%>
                        <div class="output_container"><input type="text" name="nationality" id="nationality" value="<%= studentInfo.nationality%>" readonly></div>
                    <% } %>
                </div>
            </div>

            <div class="row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="primary_language">Primary Language<span class="required_field"> *</span></label></div>
                    <% if (studentInfo.primaryLanguage == null) { %>
                        <div class="output_container"><input type="text" name="primary_language" id="primary_language" required></div>
                    <% } else {%>
                        <div class="output_container"><input type="text" name="primary_language" id="primary_language" value="<%= studentInfo.primaryLanguage %>" readonly></div>
                    <% } %>
                </div>

                <div class="row_item col_container">
                    <div class="label_container"><label for="religion">Religion<span class="required_field"> *</span></label></div>
                    <% if(studentInfo.religion == null){ %>
                        <div class="output_container"><input type="text" name="religion" id="religion" required></div>

                    <% } else { %>
                        <div class="output_container"><input type="text" name="religion" id="religion" value="<%= studentInfo.religion %>" readonly></div>
                    <% } %>
                </div>
            </div>

        </div>

        <div class="col_item section_container align_middle_col_dir">
            <h3>Family Information</h3>

            <div class="row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="motherName">Mother's Name<span class="required_field"> *</span></label></div>

                    <% if (studentInfo.motherName == null) { %>
                        <div class="output_container"><input type="text" name="motherName" id="motherName" required></div>
                    <% } else {%>
                        <div class="output_container"><input type="text" name="motherName" id="motherName" value="<%= studentInfo.motherName %>" readonly></div>
                    <% } %>
                 </div>
                <div class="row_item col_container">
                    <div class="label_container"><label for="motherOccupation">Occupation<span class="required_field"> *</span></label></div>
                    <% if (studentInfo.motherOccupation == null) { %>
                        <div class="output_container"><input type="text" name="motherOccupation" id="motherOccupation" required></div>

                    <% } else {%>
                        <div class="output_container"><input type="text" name="motherOccupation" id="motherOccupation"  value = "<%= studentInfo.motherOccupation %>" readonly></div>
                    <% } %>
                </div>
                <div class="row_item col_container">
                    <div class="label_container"><label for="motherContactInfo">Contact Information<span class="required_field"> *</span></label></div>
                    <% if (studentInfo.motherPhoneNo == null) { %>
                        <div class="output_container"><input type="text" name="motherContactInfo" id="motherContactInfo" required></div>

                    <% } else {%>
                        <div class="output_container"><input type="text" name="motherContactInfo" id="motherContactInfo" value="<%= studentInfo.motherPhoneNo %>" readonly></div>
                    <% } %>
                </div>
            </div>
            <div class="row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="fatherName">Father's Name<span class="required_field"> *</span></label></div>
                        <% if (studentInfo.fatherName = null) { %>
                            <div class="output_container"><input type="text" name="fatherName" id="fatherName" required></div>
                        <% } else {%>
                            <div class="output_container"><input type="text" name="fatherName" id="fatherName" value = "<%=studentInfo.fatherName%> " readonly></div>
                        <% } %>
                        </div>
                    <div class="row_item col_container">
                        <div class="label_container"><label for="fatherOccupation">Occupation<span class="required_field"> *</span></label></div>
                        <% if (studentInfo.fatherOccupation == null) { %>
                            <div class="output_container"><input type="text" name="fatherOccupation" id="fatherOccupation" required></div>                     
                        <% } else {%>
                            <div class="output_container"><input type="text" name="fatherOccupation" id="fatherOccupation" value="<%= studentInfo.fatherOccupation %>" readonly></div>
                        <% } %>
                    </div>
                    <div class="row_item col_container">
                        <div class="label_container"><label for="fatherContactInfo">Contact Information<span class="required_field"> *</span></label></div>
                        <% if (studentInfo.fatherPhoneNo == null) { %>
                            <div class="output_container"><input type="number" name="fatherContactInfo" id="fatherContactInfo" required></div>                    
                        <% } else {%>
                            <div class="output_container"><input type="number" name="fatherContactInfo" id="fatherContactInfo" value="<%= studentInfo.fatherPhoneNo %>" readonly></div>
                        <% } %>
                    </div>
                </div>

                <div class="col_container">
                    <div class="label_container"><label for="childPosition">Child`s Position in the Family<span class="required_field"> *</span></label></div>
                    <% if (studentInfo.ordinality == null) { %>
                        <div class="output_container"><input type="text" name="childPosition" id="childPosition" required></div>                 
                    <% } else {%>
                        <div class="output_container"><input type="text" name="childPosition" id="childPosition" value="<%= studentInfo.ordinality%>" readonly></div>                 
                    <% } %>
                </div>
                <hr>
                <div class="button_container">
                <div class="label_container"><h5>Siblings <span class="small_text">&#40 Max of 5 entries &#41</span></h5></div>
                <% if (studentInfo.siblings.length == null) { %>
                    <button class="yellow_button_design" id = "add_sibling" type="button">Add</button>
                    <button class="abort_button_design" id = "remove_sibling" type="button">Remove</button>         
                </div>
                <!-- Placeholder for student entries v v v v v -->
                <div class="sibling_adder col_containers"> 
                <% } else {%>
                <div class="sibling_adder col_containers"> 
                    <% for( let i = 0; i < studentInfo.siblings.length; i++ ) { %>
                        <div class="row_container sibling_item">
                            <div class="row_item col_container">
                                <div class="label_container"><label>Name</label></div>
                                <div class="output_container"><input type="text" name="siblingName[]" readonly value="<%= studentInfo.siblings[i].siblingName %>"></div>
                            </div>
                            <div class="row_item col_container">
                                <div class="label_container"><label>Age</label></div>
                                <div class="output_container"><input type="number" name="siblingAge[]" readonly value="<%= studentInfo.siblings[i].siblingAge %>"></div>
                            </div>
                            <div class="row_item col_container">
                                <div class="label_container"><label>Gender</label></div>
                                <div class="output_container"><input type="text" name="siblingGender[]" id="siblingGender[]" readonly value="<%= studentInfo.siblings[i].siblingGender %>"></div>
                            </div>
                            <div class="row_item col_container">
                                <div class="label_container"><label>Contact Information</label></div>
                                <div class="output_container"><input type="number" name="siblingContactInformation[]" readonly value="<%= studentInfo.siblings[i].siblingContactInfo%>"></div>
                            </div>
                        </div>
                    <% } %>
                    </div>
                <% } %>
                </div>
            </div>

        <div class="col_item section_container align_middle_col_dir">
            <h3>Emergency Contact</h3>
            <p>
                In the event of an emergency, we always attempt to contact the parents first,
                using the information given. However, in the event neither parent is reachable,
                please provide two alternative emergency contacts available during the day.
            </p>
            <hr>
            
            <div class="col_container">
                <div class="row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="firstEmergencyContactName">Name<span class="required_field">*</span></label></div>
                        <% if (studentInfo.name1 == null) { %>
                            <div class="output_container"><input type="text" name="firstEmergencyContactName" id="firstEmergencyContactName" required></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="firstEmergencyContactRelationship">Relationship<span class="required_field">*</span></label></div>
                            <div class="output_container"><input type="text" name="firstEmergencyContactRelationship" id="firstEmergencyContactRelationship"  required></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="firstEmergencyContactNumber">Contact Information<span class="required_field">*</span></label></div>
                            <div class="output_container"><input type="number" name="firstEmergencyContactNumber" id="firstEmergencyContactNumber" min="0" required></div>
                        </div>
                        <% } else {%>
                            <div class="output_container"><input type="text" name="firstEmergencyContactName" id="firstEmergencyContactName" value="<%= studentInfo.name1 %>" readonly></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="firstEmergencyContactRelationship">Relationship<span class="required_field"> *</span></label></div>
                            
    
                            <div class="output_container"><input type="text" name="firstEmergencyContactRelationship" id="firstEmergencyContactRelationship" value="<%= studentInfo.relationship1 %>" readonly></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="firstEmergencyContactNumber">Contact Information<span class="required_field"> *</span></label></div>
                            <div class="output_container"><input type="number" name="firstEmergencyContactNumber" id="firstEmergencyContactNumber" min="0" value="<%= studentInfo.phoneNumber1 %>" readonly></div>
                        </div>                     
                        <% } %>

                </div>

                <div class="row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="secondEmergencyContactName">Name</label></div>
                        <% if (studentInfo.name1 == null) { %>
                            <div class="output_container"><input type="text" name="secondEmergencyContactName" id="secondEmergencyContactName"></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="secondEmergencyContactRelationship">Relationship</label></div>
                            <div class="output_container"><input type="text" name="secondEmergencyContactRelationship" id="secondEmergencyContactRelationship"></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="secondEmergencyContactNumber">Contact Information</label></div>
                            <div class="output_container"><input type="number" name="secondEmergencyContactNumber" id="secondEmergencyContactNumber" min="0"></div>
                        </div>                     
                        <% } else {%>
                            <div class="output_container"><input type="text" name="secondEmergencyContactName" id="secondEmergencyContactName" value="<%= studentInfo.name2 %>"></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="secondEmergencyContactRelationship">Relationship</label></div>
                            <div class="output_container"><input type="text" name="secondEmergencyContactRelationship" id="secondEmergencyContactRelationship" value="<%= studentInfo.relationship2 %>" readonly></div>
                        </div>
    
                        <div class="row_item col_container">
                            <div class="label_container"><label for="secondEmergencyContactNumber">Contact Information</label></div>
                            <div class="output_container"><input type="number" name="secondEmergencyContactNumber" id="secondEmergencyContactNumber" min="0" value="<%= studentInfo.phoneNumber2 %>" readonly></div>
                        </div>                            
                    <% } %>
                </div>

            </div>
        </div>
</form>

<% if (studentInfo.nickName == null) { %>
         <div class="submit_button_container">
        <a href="/student"><button class="abort_button_design extended_button">Cancel</button></a>
        <button form="enrollment_form" type="submit" class="yellow_button_design extended_button" type ="submit">Submit</button>
        </div>
        
<% } else { %>
    <a href="/student"><button>Back</button></a>
<% } %>
 
<script src="./js_files/sibling_adder.js"></script>
<%- include('./partials/student_footer') %>